name: clang-format lint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: clang-format lint
      uses: DoozyX/clang-format-lint-action@v0.3.1
      with:
        exclude: ./include
